.embedded-content
{
	background: #5cb85c;
}

.entity-embed
{
	display: inline-block;
}

.entity-embed-center
{
	max-width: 33.33%;
	margin: 0 auto !important;
}

.entity-embed-left
{
	max-width: 33.33%;
	float: left;
}

.entity-embed-right
{
	max-width: 33.33%;
	float: right;
}