.embedded-content
{
	background: #5cb85c;
}


.entity-embed-center
{	
	.entity-embed
	{
		max-width: 80%;
		display: block;
		margin: 0 auto !important;
	}
}

.entity-embed-left
{
	.entity-embed
	{
		max-width: 100%;
		float: left;
	}
}

.entity-embed-right
{
	.entity-embed
	{
		max-width: 100%;
		float: right;
	}
}