@bootstrap-columns-per-row: 12;

.medium-editor-insert-plugin {
  .medium-insert-buttons
  {
  	color: #212121;
  }

  .medium-insert-buttons-addons
  {
    li {
      background: none;

      a {
        background: #fff;
      }
    }
  }
}

.embed-modal-row
{
  .make-row();
  margin-bottom: 20px;
  &:last-child
  {
    margin-bottom: 0;
  }
}

.embed-modal-form
{
	.form-group;

	.embed-modal-label
	{
		font-weight: bold;
	}
}

.embed-modal-full-column
{
	.make-xs-column(@bootstrap-columns-per-row);
}

.embed-modal-half-column
{
	.make-xs-column(@bootstrap-columns-per-row/2);
}

#embed-modal-select-existing
{
	display: none;
}

#embed-modal-buttons-create
{
	#btn-save-modal
	{
		.btn();
		.btn-success();
	}

	#btn-abort-modal
	{
		.btn();
		.btn-default();
	}

	#btn-show-select-existing
	{
		float: left;
		.btn();
		.btn-primary();
	}
}

#embed-modal-buttons-select
{
	display: none;

	#btn-select-existing-embed
	{
		.btn();
		.btn-primary();
	}

	#btn-cancel-select-existing
	{
		.btn();
		.btn-default();
	}
}

#embed-modal-spinner
{
	font-size: 25px;
	margin-right: 10px;
}

.error
{
	color: #ff0000;
}

.error.embed-modal-form-control
{
	border: 1px #e60000 solid;
}

.embed-modal-select-existing
{
	table
	{
		.table();

		.embed-modal-active-row
		{
			background-color: #bfbfbf;
		}
	}

}

.entity-embed-container
{
	.clearfix();
}

#leave-confirmation-modal
{
	display:none;
	#btn-confirm-leave
	{
		.btn();
		.btn-primary();
	}

	#btn-cancel-leave
	{
		.btn();
		.btn-default();
	}
}