// 	default styling for modal

@embed-modal-width: 70%;
@embed-modal-top: 10%;
@embed-modal-strata: 1999;

.embed-modal-open
{
	.modal-open();
}

.embed-modal
{
	@em-border-rad: 5px;

	.modal();

	display: none;
	z-index: @embed-modal-strata;

	&.em-active
	{
		display: block !important;
	}

	.embed-modal-open &
	{
		overflow-x: hidden;
		overflow-y: auto;
	}
}

.embed-modal-dialog
{
	.modal-dialog();

	width: @embed-modal-width;
	min-width: 600px;

	margin: 30px auto;

	.embed-modal .embed-modal &
	{
		margin: 60px auto;
		width: @embed-modal-width * 0.80;
		min-width: 300px;

		.embed-modal &
		{
			margin: 90px auto;
			width: @embed-modal-width * 0.70;
			min-width: 250px;
		}
	}
}

.embed-modal-backdrop
{
	@background-opacity: .5;

	.modal-backdrop();

	display: none;
	z-index: @embed-modal-strata - 1;

	background-color: #000;
	opacity: @background-opacity;
	-webkit-opacity: @background-opacity;
	-moz-opacity: @background-opacity;

	&.em-active
	{
		display: block !important;
	}
}

.em-close-btn
{
	@em-close-btn-size: 20px;
	z-index: @embed-modal-strata + 1;

	position: absolute;
	display: none;

	font-size: @em-close-btn-size;
	left: 100%;

	margin-left: -1 * @em-close-btn-size;

	&.em-active
	{
		display: block !important;
	}
}



.embed-modal-footer
{
	.modal-footer();
}

.embed-modal-content
{
	.modal-content();
	box-shadow: none;
	border-top: none;
}

.embed-modal-body
{
	.modal-body();
	.clearfix();
}

.embed-modal-header
{
	.modal-header();
}

.embed-modal-form-control
{
	.form-control();

	&[type="radio"],
	&[type="checkbox"]
	{
		display: inline;
		width: auto;
		height: auto;
	}
}

textarea.embed-modal-form-control
{
	resize: vertical;
}

.embed-modal-input-group
{
	.input-group();

	display: flex;

	.embed-modal-form-control,
	.embed-modal-input-group-addon
	{
		&:first-child
		{
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:last-child
		{
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left-width: 0;
		}
	}

	.embed-modal-input-group-addon
	{
		display: inline-block;
		width: auto;
		line-height: inherit;
	}
}

.embed-modal-row
{
	.row();
}

.embed-modal-input-group-addon
{
	.input-group-addon();
}

.embed-modal-input-group-btn
{
	.input-group-btn();
}

#leave-confirmation-modal
{
	#btn-confirm-leave
	{
		.btn();
		.btn-primary();
	}

	#btn-cancel-leave
	{
		.btn();
		.btn-default();
	}
}

.easy-autocomplete-container
{
	z-index: 9;
}