.entity-embed-center
{
	.audio-embed
	{
		audio
		{
			text-align: center;
		}
	}
}

.entity-embed-wide
{
	.audio-embed
	{
		audio
		{
			width: 100%;
		}
	}
}

.entity-embed-right
{
	.credit
	{
		text-align: right;
	}   
	
	.link
	{
		text-align: right;
	}
}

#audio-credits
{
	clear: left;
}