.uploaded-audio-file
{
	display: none;

	audio
	{
		display: block;
		margin: 0 auto !important;
	}

	.audio-preview
	{
		margin-left: 20px;
	}
}

.cancel-upload-file-btn, .edit-chosen-file-btn
{
	margin-left: 10px;
	display: none;
}

.entity-embed-center
{
	.audio-embed
	{
		audio
		{
			text-align: center;
		}
	}
}

.entity-embed-wide
{
	.audio-embed
	{
		audio
		{
			width: 100%;
		}
	}
}

.entity-embed-right
{
	.credit
	{
		text-align: right;
	}   
	
	.link
	{
		text-align: right;
	}
}

#audio-credits
{
	clear: left;
}