@audio_editor-toolbar_btn__width: 20px;
@audio_editor-preview_waveform__height: 128px;

.audio_editor
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: @audio_editor-preview_waveform__height; // + 20px;

	background-color: @gray-lighter;

	&:after
	{
		transition: box-shadow 200ms ease-out;
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 8;

		pointer-events: none;

		box-shadow: inset 0 0 0 0 @brand-primary, inset 0 0 0 0 #fff;
	}

	&.js-dragover
	{
		&:after
		{
			box-shadow: inset 0 0 0 1px @brand-primary, inset 0 0 0 10px #fff;
		}
	}

	&.js-dropped,
	&.js-loading
	{
		&:after
		{
			box-shadow: inset 0 0 0 1px @brand-primary, inset 0 0 0 95px #fff;
		}
	}
}

.audio_editor-loading
{
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	z-index: 9;

	font-size: 2em;
	color: @brand-primary;
	text-align: center;

	.fa
	{
		font-size: 1.5em;
		vertical-align: bottom;
	}
}

.audio_editor-intro
{
	position: relative;
	z-index: 2;

	.js-dragover &,
	.js-dropped &,
	{
		z-index: auto;
	}
}

.audio_editor-intro_inner
{
}

.audio_editor-preview
{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.audio_editor-preview_inner
{
	display: flex;
	align-items: center;
	height: 100%;
}

.audio_editor-preview_controls
{
	flex-grow: 0;
	position: relative;
	width: @audio_editor-preview_waveform__height;
	height: @audio_editor-preview_waveform__height;
	overflow: hidden;

	background-color: @btn-primary-bg;
	background-size: cover;
	background-position: center center;

	.js-thumbnail
	{
		display: none;
		width: 100%;
	}
}

.audio_editor-preview_control
{
	transition: background-color 200ms ease-out;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: fade(#000, 15%);

	border-radius: 0;

	color: @btn-primary-color;
	font-size: (@audio_editor-preview_waveform__height / 3);
	text-shadow: 0 1px 3px fade(@gray-base, 30%), 0 0 1px fade(@gray-base, 50%);

	cursor: pointer;

	&:hover
	{
		background-color: fade(@btn-primary-bg, 15%);
		color: @btn-primary-color;
		text-decoration: none;
	}

	&:focus
	{
		color: @btn-primary-color;
		text-decoration: none;
	}

	&.js-pause
	{
		display: none;
	}
}

.audio_editor-preview_waveform
{
	flex-grow: 1;
	height: @audio_editor-preview_waveform__height;

	// background-color: #fff;
}

.audio_editor-toolbar
{
	position: absolute;
	right: 0;
	bottom: 100%;
}

.audio_editor-toolbar_list
{
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.audio_editor-toolbar_item
{
	margin: 3px;
}

.audio_editor-tollbar_btn
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: @audio_editor-toolbar_btn__width;
	height: @audio_editor-toolbar_btn__width;

	background: @btn-primary-color;

	border: 1px solid @btn-primary-border;
	border-radius: @btn-border-radius-small;

	color: @btn-primary-bg;

	cursor: pointer;

	&:hover
	{
		background-color: @btn-primary-bg;
		color: @btn-primary-color;
		text-decoration: none;
	}
}

.entity-embed-container {
  .audio-embed {
    audio {
      position: relative;
      // z-index: @entity-embed-blocker-strata + 1;
    }
  }
}

.entity-embed-center
{
	.audio-embed
	{
		audio
		{
			text-align: center;
		}
	}
}

.entity-embed-wide
{
	.audio-embed
	{
		audio
		{
			width: 100%;
		}
	}
}

.entity-embed-right
{
	.credit
	{
		text-align: right;
	}

	.link
	{
		text-align: right;
	}
}

#audio-credits
{
	clear: left;
}