.entity-embed-external-link
{
  border: 1px solid #eeeeef;
  padding: 15px;
  background: #f7f7f7;
}

.external_link-teaser
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	margin-bottom: 1em;
}

.external_link-teaser-image
{
	float: right;
  width: 100px;
  margin: 1em 0 0 10px;

  img {max-width: 100px;}
}

.external_link-teaser-text
{
	max-width: 250px;

	margin-left: 1em;

	text-align: center;

	.external_link-teaser-image + &
	{
		text-align: left;
	}
}

.external_link-teaser-title
{
  font-size: .875em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
  line-height: 1.25em;
  margin-top: 0;
}

.external_link-teaser-teaser
{
	text-align: left;
	display: block;
	width: 100%;
}

.external_link-link
{
	.btn();
	.btn-primary();
	.btn-block();

	border-radius: 20px;
}