.uploaded-image-file
{
	display: none;

	img
	{
		display: block;
		margin: 0 auto !important;
		height: 150px;
	}

	.image-preview
	{
		margin-left: 20px;
	}
}

.cancel-upload-image-btn, .edit-chosen-file-btn
{
	margin-left: 10px;
	display: none;
}

.images-embed
{
	@font-color: #6e6e81;
	width: 100%;

	img
	{
		display: block;
	}

	.images-embed-caption
	{
		display: block;
		width: 100%;

		font-style: italic;
		font-size: 12; 
		color: @font-color;
	}

	.images-embed-credit
	{
		display: block;
		width: 100%;

		font-style: italic; 
		font-size: 10; 
		color: @font-color;
	}
}

.entity-embed-center
{
	img
	{
		margin: 0 auto;
	}

	.images-embed-caption
	{
		text-align: center;
	}
	.images-embed-credit
	{
		text-align: center;
	}
}

.entity-embed-left
{
	.images-embed-caption
	{
		text-align: left;
	}
	.images-embed-credit
	{
		text-align: left;
	}
}

.entity-embed-right
{
	.images-embed-caption
	{
		text-align: right;
	}
	.images-embed-credit
	{
		text-align: right;
	}
}

.entity-embed-wide
{
	img
	{
		width: 100%;
	}
	.images-embed-caption
	{
		text-align: left;
	}
	.images-embed-credit
	{
		text-align: left;
	}
}
