@image_editor-toolbar_btn__width: 20px;

.image_editor
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 188px;

	background-color: @gray-lighter;

	&:after
	{
		transition: box-shadow 200ms ease-out;
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;

		box-shadow: inset 0 0 0 0 @brand-primary, inset 0 0 0 0 #fff;
	}

	&.js-dragover
	{
		&:after
		{
			box-shadow: inset 0 0 0 1px @brand-primary, inset 0 0 0 10px #fff;
		}
	}

	&.js-dropped
	{
		&:after
		{
			box-shadow: inset 0 0 0 1px @brand-primary, inset 0 0 0 95px #fff;
		}
	}
}

.image_editor-intro
{
	position: relative;
	z-index: 2;

	.js-dragover &,
	.js-dropped &,
	{
		z-index: auto;
	}
}

.image_editor-intro_inner
{
}

.image_editor-preview
{
	display: none;
	overflow: hidden;
	max-height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.image_editor-preview_image
{
	display: block;
	margin: 0 auto;
	width: 100%;
	visibility: hidden;
}

.image_editor-toolbar
{
	position: absolute;
	right: 0;
	bottom: 100%;
}

.image_editor-toolbar_list
{
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.image_editor-toolbar_item
{
	margin: 3px;
}

.image_editor-tollbar_btn
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: @image_editor-toolbar_btn__width;
	height: @image_editor-toolbar_btn__width;

	background: @btn-primary-color;

	border: 1px solid @btn-primary-border;
	border-radius: @btn-border-radius-small;

	color: @btn-primary-bg;

	cursor: pointer;

	&:hover
	{
		background-color: @btn-primary-bg;
		color: @btn-primary-color;
		text-decoration: none;
	}
}

.images-embed
{
	@font-color: #6e6e81;
	width: 100%;

	img
	{
		display: block;
	}

	.images-embed-caption
	{
		display: block;
		width: 100%;

		font-style: italic;
		font-size: 12;
		color: @font-color;
	}

	.images-embed-credit
	{
		display: block;
		width: 100%;

		font-style: italic;
		font-size: 10;
		color: @font-color;
	}
}

.entity-embed-center
{
	img
	{
		margin: 0 auto;
	}

	.images-embed-caption
	{
		text-align: center;
	}
	.images-embed-credit
	{
		text-align: center;
	}
}

.entity-embed-left
{
	.images-embed-caption
	{
		text-align: left;
	}
	.images-embed-credit
	{
		text-align: left;
	}
}

.entity-embed-right
{
	.images-embed-caption
	{
		text-align: right;
	}
	.images-embed-credit
	{
		text-align: right;
	}
}

.entity-embed-wide
{
	img
	{
		width: 100%;
	}
	.images-embed-caption
	{
		text-align: left;
	}
	.images-embed-credit
	{
		text-align: left;
	}
}
