.slideshow-embed
{

}


/// Slideshow Editor

@slideshow_editor__gap: 15px;
@slideshow_editor-toolbar_btn__width: 50px;
@slideshow_editor-toolbar__padding: 10px;
@slideshow_editor-nav__padding: 10px;
@slideshow_editor-nav_btn__width: 28px;

.slideshow_intro
{
  text-align: center;
  padding: 100px 0;
}

.slideshow_editor
{
  position: relative;
}

.slideshow_editor-slide
{
  margin-right: @slideshow_editor-toolbar_btn__width + @slideshow_editor-toolbar__padding;
  padding: @slideshow_editor__gap;
  border: 1px solid @gray-lighter;

  > * + *
  {
    margin-top: @slideshow_editor__gap;
  }
}

.slideshow_editor-slide_image
{
  min-height: 10vh;
  max-height: 40vh;
  overflow: hidden;

  background-size: contain;
  background-color: @gray-lighter;
  background-repeat: no-repeat;
  background-position: center center;

  img
  {
    width: 100%;
    visibility: hidden;
  }
}

.slideshow_editor-slide_text
{
  padding-top: @slideshow_editor__gap;
  border-top: 1px solid @gray-lighter;

  > * + *
  {
    margin-top: 1em;
  }
}

.slideshow_editor-slide_credit-container
{
  font-size: 0.8em;

  .slideshow_editor-slide_label
  {
    font-weight: bold;

    &:after
    {
      content: ':';
      margin: 0 0.25em;
    }
  }
}

.slideshow_editor-nav
{
  display: flex;
  justify-content: center;

  margin-right: @slideshow_editor-toolbar_btn__width + @slideshow_editor-toolbar__padding;

  padding: @slideshow_editor-nav__padding;

  > * + *
  {
    margin-left: @slideshow_editor-nav__padding;
  }
}

.slideshow_editor-nav_list
{
  display: flex;

  list-style: none;
  padding: 0;
}

.slideshow_editor-nav_item
{
  display: block;

  padding: 0;
  margin: 0;

  + *
  {
    margin-left: @slideshow_editor-nav__padding;
  }
}

.slideshow_editor-nav_btn
{
  transition: all 200ms ease-out;
  display: block;
  width: @slideshow_editor-nav_btn__width;
  height: @slideshow_editor-nav_btn__width;

  border: 1px solid @gray-light;
  border-radius: 50%;

  background-color: @gray;

  box-shadow: inset 0 0 0 (@slideshow_editor-nav_btn__width / 2 + 1) #fff;

  cursor: pointer;

  .slideshow_editor-nav_item.active &
  {
    box-shadow: inset 0 0 0 3px #fff;
    border-color: @btn-primary-bg;
    background-color: @btn-primary-bg;

    cursor: move;
    cursor: -webkit-grab;

    &:active
    {
      cursor: -webkit-grabbing;
    }

    &:hover
    {
      box-shadow: inset 0 0 0 0 #fff;
    }
  }

  &:hover
  {
    box-shadow: inset 0 0 0 3px #fff;
  }
}

.slideshow_editor-add_btn
{
  transition: all 200ms ease-out;
  display: block;
  width: @slideshow_editor-nav_btn__width;
  height: @slideshow_editor-nav_btn__width;

  border: 1px solid @gray-light;
  border-radius: 50%;

  background-color: @gray;

  box-shadow: inset 0 0 0 3px #fff;

  color: @btn-primary-color;
  font-size: 10px;
  text-align: center;
  line-height: @slideshow_editor-nav_btn__width;

  cursor: pointer;

  &:hover
  {
    border-color: @btn-primary-bg;
    background-color: @btn-primary-bg;
    color: @btn-primary-color;
    box-shadow: inset 0 0 0 0 #fff;
  }
}

.slideshow_editor-toolbar
{
  position: absolute;
  top: 0;
  right: 0;
}

.slideshow_editor-toolbar_list
{
  list-style: none;
  padding: 0;

  text-align: center;

  background-color: #242424;
  background: -webkit-linear-gradient(top, #242424, rgba(36, 36, 36, 0.75));
  background: linear-gradient(to bottom, #242424, rgba(36, 36, 36, 0.75));
  border: 1px solid #000;
  border-radius: 5px;
}

.slideshow_editor-toolbar_item
{
  display: block;

  padding: 0;
  margin: 0;
}

// .slideshow_editor-toolbar_btn
// {
//   transition: all 200ms ease-out;
//   display: block;
//   width: @slideshow_editor-toolbar_btn__width;

//   background-color: @gray-dark;

//   color: @btn-primary-color;
//   font-size: 16px;
//   line-height: @slideshow_editor-toolbar_btn__width;
//   text-align: center;

//   cursor: pointer;

//   &:hover
//   {
//     background-color: @btn-primary-bg;
//     color: @btn-primary-color;
//   }

//   :first-child > &
//   {
//     border-radius: @btn-border-radius-small @btn-border-radius-small 0 0;
//   }

//   :last-child > &
//   {
//     border-radius: 0 0 @btn-border-radius-small @btn-border-radius-small;
//   }
// }

.slideshow_editor-toolbar_btn
{
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 1.33;
  margin: 0;
  padding: 15px;
  text-decoration: none;
  background-color: #242424;
  background: -webkit-linear-gradient(top, #242424, rgba(36, 36, 36, 0.89));
  background: linear-gradient(to bottom, #242424, rgba(36, 36, 36, 0.89));
  border: 0;
  border-right: 1px solid #000;
  border-left: 1px solid #333;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  height: 50px;
  min-width: 50px;
  -webkit-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;

  &:hover
  {
    background-color: #000;
    color: yellow;
  }
}
