.slideshow-embed
{
	
}

.image-list-container
{
	.clearfix();
}

.slideshow-image-add
{
	float: right;
}

.slideshow-image-select-existing
{
	float: right;
	margin-right: 10px;
}

.slideshow-radio-container
{
	.clearfix();
	.make-row();

	&:hover
	{
		background-color: #bfbfbf;
	}

	.slideshow-radio
	{
		.make-xs-column(11);
		.radio();

		input
		{
			margin: 0px 10px;
		}
	}

	.remove-slideshow-image 
	{
		.make-xs-column(1);
		margin: 0 auto;
		margin-top: 10px;
	}
}

#radio-option-placeholder
{
	font-style: italic;
}

#embed-modal-slideshow-image-select-existing
{
	display: none;
	
	#slideshow-image-select-btns
	{
		.make-xs-column(2);

		#btn-cancel-select-existing-simg
		{
			margin-top: 25px;
			.btn();
			.btn-default(); 
		}
	}


	.simg-query-container
	{
		.make-xs-column(10);
	}
}

.embed-modal-select-existing-simg
{
	table
	{
		.table();

		.embed-modal-active-row
		{
			background-color: #bfbfbf !important;
		}
	}
}