.video-embed
{
	background-color: #000;
	.video-info
	{
		color: #e6e6e6;
		text-align: center;
		font-style: italic;
	}

	.overlay
	{
		position: relative;
		width: 100%;
    height: 0;
    padding-top: 9 / 16 * 100%;
	}

	iframe
	{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	}
}

.entity-embed-wide
{
	.video-embed
	{
		width: 100%;

		iframe
		{
			width: 100%;
		}
	}
}


.entity-embed-center
{
	.video-embed
	{
		margin: 0 auto;
	}
}